# Системные папки и файлы
.qodo
.env
.venv
.vscode
frontend/node_modules
# кэш файлы
tts_apis/__pycache__
working_with_audio/__pycache__
mytest/__pycache__
chatbot/__pycache__
# Папки с аудио
received_audios
admin
generated_audios
mytest/test_mix
my_voices
# ключи
chatbot/keys.json