body {
  background-color: #d6e6d8; /* светло-серый фон */
  background-image: none; /* удалить любое изображение фона */
  background-repeat: no-repeat; /* не повторять фон */
  background-position: center; /* центрировать фон */
}
h1 {
  text-align: center;
  margin: 20px 40px;
  padding-bottom: 30px;
}

h2, h3 {
  margin: 20px 40px;
}

#download-link {
  display: block;
  padding: 10px 20px;

  background-color: #115f89;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 16px;
  
  text-align: center;
  width: 100%;
  max-width: 200px;
  margin: 20px 40px;
}